:root {
    --primary-color: darkolivegreen;
    --secondary-color: darkslategray;
    --accent-color: cornflowerblue;
    --text-color: wheat;
    --shadow: 0px 0px 15px rgb(152, 240, 152);
    --button-shadow: 3px 3px 8px white;
    --title-shadow: var(--button-shadow);
    --title-color: navy;
}
  
body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 16pt;
    font-weight: bold;
    background-color: var(--primary-color);
    text-align: center;
}
h1 {
    color: blanchedalmond;
    max-width: 800px;
}
label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: var(--text-color);
}
input[type="number"] {
    width: 100px;
    padding: 3px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    box-shadow: 3px 5px 2px var(--accent-color);
    border: 1px solid black;
}
input[type="submit"] {
    display: block;
    margin: 15px auto;
    padding: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    box-shadow: var(--button-shadow);
    /* border: 1px solid black; */
}

.main-layout {
    display: flex;
    max-width: 800px;
}
.side-container {
    width: 30%;
    border: 2px solid white;
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: var(--shadow);
    max-width: 200px;
}
.mid-container {
    flex: 1;
    padding: 20px;
    width: 70%;
}
.mid-upper-container {
    width: 90%;
    border: 2px solid white;
    background-color: navy;
    margin-bottom: 25px;
    padding: 20px;
    box-shadow: var(--shadow);
    align-items: stretch;
}
.mid-lower-container {
    width: 90%;
    border: 2px solid white;
    background-color: rgb(3, 76, 3);
    margin-bottom: 25px;
    padding: 20px;
    box-shadow: var(--shadow);
    align-items: stretch;
}
.title-container {
    /* border: 2px solid white; */
    padding: 5px;
    width: fit-content;
    /* margin: 5px auto; */
    background-color: var(--accent-color);
    margin: 15px auto;
    box-shadow: var(--title-shadow);
}
.mid-upper-label, .mid-lower-label {
    display: block;
    align-items: stretch;
    color: var(--title-color);
    font-size: 12pt;
    padding: 10px;
    /* width: 400px; */
    text-align: center;
}
.form-row {
    display: flex;
    align-items: center;
    margin: 15px auto;
    max-width: 400px;
    /* width: fit-content; */
    /* margin-bottom: 10px; */
    /* background-color: darkgray; */
}
.target-info-form {
    display: block;
    /* align-items: center; */
    /* width: fit-content; */
    margin: 10px auto;
    padding: 10px;
    max-width: 400px;
}
