/* stylesheet.css */
:root {
    --primary-color: darkolivegreen;
    --secondary-color: darkslategray;
    --text-color: wheat;
    --result-container-color: rgb(3, 76, 3);
    --targetinfo-container-color: navy;
    --button-shadow: 3px 3px 3px white;
}
body {
    font-family: sans-serif;
    margin: 0; /* Remove default body margin */
    padding: 10px;
    background-color: var(--primary-color);
}

h1,h2 {
    color: blanchedalmond;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically on small screens */
    width: 100%;
    max-width: 960px; /* Optional max-width for larger screens */
    margin: 0 auto; /* Center the container */
    padding: 10px;
    box-sizing: border-box;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
}

.exit-point-input-section, .spares-input-section, .target-input-section {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.exit-point-input-section {
    background-color: #1c1c1c
}
.spares-input-section {
    background-color: darkred;
}
.target-input-section {
    background-color: var(--targetinfo-container-color);
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

label {
    margin-bottom: 5px;
    color: var(--text-color);
}

input[type="number"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-weight: bold;
}

input[type="submit"] {
    padding: 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: var(--button-shadow);
}

.results-container {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: rgb(3, 76, 3);
    font-weight: bold;
}

/* Media query for larger screens (e.g., tablets and desktops) */
@media (min-width: 768px) {
    .container {
        flex-direction: row; /* Arrange elements horizontally */
        flex-wrap: wrap; /* Allow wrapping if needed */
        justify-content: space-between;
    }
    .form-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 65%;
    }

    .input-section, .exit-point-input-section, 
    .spares-input-section, .target-input-section {
        width: calc(33% - 10px); /* Adjust width for spacing */
        margin: 5px;
    }

    .results-container {
        width: 30%;
        margin: 5px 0;
    }
}